# Duplicate this file as `.env` and set values to pass to the server
# Remove or comment any unused environment variables

# Azure authentication (Required)
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# Additional info for Azure AI Foundry (Required)
AZURE_OPENAI_ENDPOINT="https://ENTER_ENDPOINT_NAME.openai.azure.com/"
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=gpt-4o
AZURE_OPENAI_API_VERSION="2025-04-01-preview" # Recommended for Responses API

# Additional info for Knowledge (Optional)
AZURE_AI_SEARCH_ENDPOINT=https://<your-search-service-name>.search.windows.net/
AZURE_AI_SEARCH_API_VERSION=2025-03-01-preview
SEARCH_AUTHENTICATION_METHOD=api-search-key
AZURE_AI_SEARCH_API_KEY=your_api_key

# Additional info for Evaluation (Required)
EVAL_DATA_DIR=/path/to/eval_jsonl/
